numpy<2.3.0
Flask==3.0.0
Flask-SocketIO==5.3.5
python-socketio==5.10.0
Werkzeug==3.0.1
opencv-python==4.8.1.78
pillow
pillow-heif
imageio
plyfile
torch
torchvision
torchaudio
safetensors
huggingface_hub
hydra-core
natsort
orjson
python-box
tensorboard
tqdm
trimesh
uniception
scipy
scikit-learn
matplotlib
pandas
imageio-ffmpeg
requests
fsspec
